<!DOCTYPE html>
<html ng-app='try'>
<head>
	<base href="">
	<title>trying angularJs</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
	
	<script src="js/app/app.module.js"></script>
	<script src="js/app/app.config.js"></script>

	<script src="js/app/blog-list/blog-list.module.js"></script>
	<script src="js/app/blog-list/blog-list.component.js"></script>

<!--
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> 
-->

	<style type="text/css">
		.class_red {
			color: red;
		}
		.class_green {
			color: green;
		}
		.class_blue {
			color: blue;
		}

	</style>
	
</head>
<body>
<!--  	<h1 ng-class={'class_blue':works=='deepak','class_green':works=='gaurav'}>
		It <span ng-if='works'>{{ works }}</span>
		   <span ng-if='!works'>works</span>
	</h1>
	<input type="text" ng-model='works' />
	inside {{works}}<br> -->

	<!--
	<blog-list-here></blog-list-here> 
	-->

	<div ng-view></div>

</body>

</html>


